
body{
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
    position: relative;
    display: flex;
    height: 40em;
    overflow-x: hidden;
    justify-content: center;
}

.tablet-text{
    display: none;
}

.header-box{
    display: flex;
    margin-top: 8rem;
    height: 25em;
    width: 70em;
    background-color: white;
    box-shadow: 2px 3px 10px rgb(78, 78, 78);
}

.background-decor{
    position: absolute;
    background-color: rgb(87, 138, 241);
    height: 60em;
    width: 150%;
    z-index: -1;
    top: -33em;
    transform: rotate(-10deg);
}

#header-img{
    height: 30em;
    box-shadow: 2px 3px 10px rgb(103, 103, 103);
}

.img-name{
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40em;
    width: 40em;
    position: relative;
}

.right-side{
    padding: 1rem;
}

.right-side > p{
    color: rgb(121, 121, 121);
}

/*
.header-text{
    margin-top: 2.3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 90vh;
    height: 55vh;
    min-width: 40vh;
    background-color: white;
    box-shadow: 2px 3px 10px rgb(78, 78, 78);
}

.header-text > p{
    line-height: 1.8rem;
}
*/

.header.buttons{
    position: relative;
    display: flex;
    bottom: 0;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

.h-butt{
    height: 2rem;
}

/* PROJECT CARDS */
.grid-container{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 3rem;
}

.work{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
}

.project-card{
    height: 10em;
    width: 300px;
    height: 335px;
    box-shadow: 3px 3px 10px rgba(158, 158, 158, 0.697);
}

.project-heading{
    display: flex;
    justify-content: space-between;
}

.project-heading > h3{
    margin: 0;
    padding: 0;

}

.project-content{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

.screenshot{
    display: flex;
    height: 55%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.project-desc{
    font-size: 1rem;
}

.project-links > a > img{
    height: 1.5rem;
}

.project-card.p1 > .screenshot{
    background-color: rgb(179, 213, 242);
}

.project-card.p2 > .screenshot{
    background-color: rgb(241, 117, 117);
}

.project-card.p3 > .screenshot{
    background-color: rgb(84, 151, 84);
}

.project-card.p4 > .screenshot{
    background-color: rgb(238, 192, 107);
}

.project-card.p5 > .screenshot{
    background-color: pink;
}

.project-card.p6 > .screenshot{
    background-color: rgb(197, 130, 197);
}

/* FOOTER */
footer{
    background-color: rgb(87, 138, 241);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 30em;
    margin-top: 5rem;
}

.contact-me{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.contact-me > h2{
    margin: 0;
    padding: 0;
}

.contact-me > p{
    width: 15em;
}

.phone-number > img,
.email > img{
    height: 2rem;
}

.phone-number,
.email{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.footer-buttons > a > img{
    height: 2.2rem;
}

.footer-buttons{
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem;
}

.footer-img{
    height: 25em;
}

/* tablet formatting */
@media(max-width: 1180px){

    .background-decor{
        top: -37em;
        left: -10em;
    }

    .projects-grid{
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }

    .project-card{
        width: 280px;
        height: 310px;
    }

    .header-box{
        display: none;
    }

    .tablet-text{
        display: block;
        width: 35em;
        height: 20em;
        background-color: white;
        position: relative;
        top: 20%;
        padding: 1rem;
        box-shadow: 2px 3px 10px rgb(103, 103, 103);
    }

    .tablet-top > h1{
        color: white;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        position: relative;
        top: 35%;
        right: -105%;
    }

    .tablet-text > p{
       font-size: 1rem;
       color: rgb(198, 198, 198);
    }

    #tablet-img{
        height: 23em;
        box-shadow: 2px 3px 10px rgb(103, 103, 103);
    }

    .tablet-top{
        position: static;
        height: 23em;
        min-width: 23em;
        float: inline-start;
        margin-top: -13rem;
        margin-right: 1rem;
        margin-left: -3rem;
        margin-bottom: 5rem;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

    .header.buttons{
        visibility: hidden;
    }

}

/* mobile formatting */
@media(max-width: 650px){

    header{
        height: 55em;
    }

    .right-side{
        text-align: center;
    }

    .header.buttons{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        visibility: visible;
    }

    .background-decor{
        top: -45em;
        left: -12em;
        transform: rotate(-20deg);
    }

    .tablet-text{
        display: none;
    }

    .header-box{
        display: flex;
        flex-direction: column;
        width: 15em;
        margin-top: 1.5rem;
    }

    .right-side > p{
        color: rgb(61, 61, 61);
    }

    .header-top{
        width: 15em;
    }


    #header-img{
        height: 25em;
    }


    .projects-grid{
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        padding: .5rem;
    }

    .project-card{
        width: 300px;
    }

    footer{
        position: relative;
        height: 65em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
    }

    .contact-me{
        margin-top: 2rem;
        gap: 1rem;
    }

    .contact-me > h2{
        text-align: center;
        font-size: 2rem;
    }

    .footer-buttons{
        justify-content: center;
    }


    .footer-img{
        position: relative;
        height: 36em;
    }

}